<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('../partials/head'); %>
  </head>
  <body class="container">
    <header><%- include('../partials/header'); %></header>

    <main>
      <div class="jumbotron">
        <h1>This is great</h1>
        <p>Welcome to templating using EJS</p>
      </div>
      <div>
        <h1><%= log.captainName %></h1>
        title <%= log.title %>, post <%= log.post %>
        <a href="/v2/logs"><button>Back to Home</button></a>
      </div>
    </main>

    <footer><%- include('../partials/footer'); %></footer>
  </body>
</html>
